* {

	box-sizing: border-box;
	color: #777777;
}

p {
	font-size: 130%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 155%;
}

ul {
	text-align: center;
	display: inline-block;
	background-color: white;
}

li a {
	text-decoration: none;
}

h1, h2 {
	font-size: 30px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
}


h2 {
	color: #4aaaa5;
}

h1 {
	display: inline;
	position: absolute;
	bottom: 0px;
	background-color: #4aaaa5;
	color: white;
	padding: 15px;
	height: 100%
}

input {
	margin: 7px 0 12px 0;
}

textarea {
	width: 100%;
	min-height: 150px;
	max-height: 250px; 
}

hr {
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
	background-color: #dddddd;
	border-color: #dddddd;
}

nav {
	position: absolute;
	display: inline-block;
	float: right;
	bottom: 9px;
	right: 0px;
}

li {
	display: inline-block;
	background-color: white;
	padding: 9px;
	border-right: 1px solid #cccccc;
}

button {
	background-color: #4aaaa5;
	min-height: 30px;
	min-width: 95px;
	color: white;
	margin-top: 10px;
	border: none;
}

.portfolio-image {
	height: 100%;
	width: 100%;
}


.left-tile {
	position: relative;
	height: 175px;
	width: 265px;
	display: inline-block;
	float-left;
	margin-right: 40px;
}

.right-tile {
	position: relative;
	height: 175px;
	width: 265px;
	display: inline-block;
}

.right-tile, .left-tile {
	margin-bottom: 40px;
}

.text-overlay p{
	position: absolute;
	bottom: 10px;
	background-color: #4aaaa5;
	width: 100%;
	color: white;
	z-index: 2;
	text-align: center;
}

#navsection {
	max-width: 960px;
	position: relative;
	width: 75%;
	margin: auto;
	background-color: white;
	min-height: 70px;
}


.mainbody {
	min-height: calc(95vh - 60px);
	background-color: white;
	position: relative;
	padding: 25px 0 25px 0;
	background-image: url("../images/circles-light.png");
}

.maincontent {
	background-color: white;
	position: relative;
	top: 20px;
	max-width: 960px;
	width: 75%;
	margin: auto;
	min-height: 95%;
	padding: 20px;
	border: 1px solid #dddddd;
}

#headshot {
	float: left;
	margin: 0 20px 20px 0;
}

.footer {
	position: relative;
	border-top: 6px solid #4aaaa5;
	font-size: 50%;
	background-color: #666666;
	min-height: 70px;
}

.footer p {
	position: absolute;
	bottom: 0;
	left: 50%;
	bottom: 5px;
	color: white;
}